[submodule "external/googletest"]
	path = external/googletest
	url = https://git.chromium.org/external/googletest.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/boringssl"]
	path = external/boringssl
	url = https://boringssl.googlesource.com/boringssl
