[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/byllyfish/asio.git
[submodule "external/boringssl"]
	path = external/boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "external/openflow-messages"]
	path = external/openflow-messages
	url = https://github.com/flowgrammable/openflow-messages
