Source: libofp
Section: devel
Priority: optional
Standards-Version: 3.9.6
Maintainer: William W. Fisher <william.w.fisher@gmail.com>
Build-Depends: cmake, python, golang
Homepage: https://github.com/byllyfish/libofp

Package: libofp
Architecture: any
Depends:
Description: OpenFlow to YAML Converter and Microservice
 The libofp program translates OpenFlow messages to YAML or JSON. libofp 
 provides a uniform text-based syntax for working with the OpenFlow protocol.
